@model IEnumerable<Northwind.Contracts.Dto.Product.ProductDto>

<h4>Product On Sales</h4>

@foreach (var item in Model)
{
    <div class="col-md-6 col-xl-4">
        <a asp-action="Details" asp-route-id="@item.ProductId">
        <div class="card mb-3">
            <img class="card-img-top" src="@Url.Content("~/Resources/images/"+item.ProductPhotos.FirstOrDefault().PhotoFilename)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This
                    content is a little bit longer.
                </p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        </a>
    </div>
}